<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/math"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/math1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMathWithGgaek"
        tools:targetApi="31">
        <activity
            android:name=".DelActivity"
            android:exported="false" />
        <activity
            android:name=".ItogActivity"
            android:exported="false" />
        <activity
            android:name=".Les7Activity"
            android:exported="false" />
        <activity
            android:name=".Les6Activity"
            android:exported="false" />
        <activity
            android:name=".Les5Activity"
            android:exported="false" />
        <activity
            android:name=".Les4Activity"
            android:exported="false" />
        <activity
            android:name=".Les3Activity"
            android:exported="false" />
        <activity
            android:name=".Les2Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Les1Activity"
            android:exported="true" />
        <activity
            android:name=".GLActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>